@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #F6F5F5;
}
.container {
    padding: 2 rem;
}
.navbar-berita {
    width:90rem ;
    margin: 1.5rem auto;
}
.navbar-berita img {
    margin-top: 10px;
    width: 5rem;
}
.search {
    width: 90rem;
    margin: auto;
}
input[type=text] {
    width: 90rem;
    padding: 1.5rem 2rem;
    background-image: url(/Image/search-icon-png-9972.png);
    background-size:6rem;
    background-color: #DDDDDD;
    background-position: right;
    background-repeat: no-repeat;;
    border: 1px solid #DDDDDD;
    border-radius: 1rem;
    box-sizing: border-box;
    font-size: 2rem;
    margin: auto;
    font-family: Red Hat Display;
}
input[type=text]:focus, select {
    outline: none
}
::placeholder { 
    font-weight: bold;
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    
}
.judul {
    margin: 3rem 0;
}
.judul h1{
    margin-top: 2rem;
    font-size: 5rem;
    font-family: 'Red Hat Display', sans-serif;
}
.berita-1{
    width: 90rem;
    margin : auto;
}
.berita-1 img{
    margin-bottom: -25rem;
    width: 90rem;
}
.berita-1 h1{
    margin-left: 2rem;
    width: 60%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 4rem;
    color: white;
}
.berita-1 p {
    margin-left: 2rem;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-Berita {
    margin-top:10rem ;
}
.card{
    
    display: flex;
    justify-content: space-between;
    padding: 2rem; 
    border-radius: 25px;
    width: 85rem;
    margin:2rem auto;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DBDBDB 100%);
}
.card h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2rem;
    cursor: pointer;
}
.card p{
    font-family: PT Serif;
    font-size: 1.5rem;
    float: right;
    margin-top: 5rem;
    margin-right: 3rem;
    color: rgba(0, 0, 0, 0.42);
}
.card:nth-child(2) p {
    margin-top: 8rem;
}
.card:nth-child(3) p {
    margin-top: 7rem;
}
.card img{
    width: 20rem;
    border-radius: 10px;
}
.teksCard {
    padding: 1rem;
    
}
.teksCard h2{
    font-size: 2.5rem;
}
.rekomendasi {
    width: 70rem;
    margin: auto;
}
.rekomendasi h1 {
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 4rem;
    margin-left: 3rem;
}
.rekomendasi img {
    margin-bottom: -25rem;
    width: 70rem;
}
.captionRekomendasi {
    width: 60%;
    bottom: 2rem;
    left: 2rem;
}
.captionRekomendasi h1{
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}
.beritaAkhir{
    display: flex;
    justify-content: space-around;
    width: 90rem;
    margin: 6rem auto;
}
.cardBeritaAkhir{
    margin: 5rem auto;
    width: 25rem;
    background-color:#F6F5F5;
    border-radius: 25px; 
    padding-bottom: 2rem;
    box-shadow: 0px 5px 60px rgba(0, 0, 0, 0.3);
}
.cardBeritaAkhir img {
    border-radius: 25px 25px 0px 0px ; 
    width: 25rem;
    height: 15rem;
}
.cardBeritaAkhir p {
    padding: 1rem;
    margin-bottom: 4rem ;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.buttonBeritaAkhir {
    width: 12rem;
    margin: auto;
}
.cardBeritaAkhir button {
    width: 12rem;
    height: 3rem;
    padding: 0.8rem 2rem;
    border-radius: 0.8rem;
    background-color: #FFA400;
    border: none;
}
.cardBeritaAkhir button a {
    text-decoration: none;
    color: white;   
}
.cardBeritaAkhir:nth-child(2) button {
    margin-top: 2rem;
}
@media only screen and (max-width: 1500px){
    .container {
        padding: 1rem;
    }
    .navbar-berita {
        width:80rem ;
        margin: 1.5rem auto;
    }
    .navbar-berita img {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 8rem;
    }
    .search {
        width: 80rem;
        margin: auto;
    }
    input[type=text] {
        width: 80rem;
        padding: 1.9rem 2rem;
        background-image: url(/Image/search-icon-png-9972.png);
        background-size:9rem;
        font-size: 3rem;
    }
    .judul h1{
        font-size: 5rem;
    }
    .berita-1{
        width: 80rem;
        margin : auto;
    }
    .berita-1 img{
        margin-bottom: -25rem;
        width: 80rem;
    }
    .berita-1 h1{
        margin-left: 2rem;
        width: 60%;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 3rem;
        color: white;
    }
    .berita-1 p {
        margin-left: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .card-Berita {
        margin-top:15rem ;
    }
    .card{
        width: 74rem;
        margin:2rem auto;
    }
    .card h2{
        font-family: 'Red Hat Display', sans-serif;
        font-size: 2rem;
        cursor: pointer;
    }
    .card p{
        font-family: PT Serif;
        font-size: 1.5rem;
        float: right;
        margin-top: 5rem;
        margin-right: 3rem;
        color: rgba(0, 0, 0, 0.42);
    }
    .card:nth-child(2) p {
        margin-top: 8rem;
    }
    .card:nth-child(3) p {
        margin-top: 7rem;
    }
    .card img{
        width: 20rem;
        border-radius: 10px;
    }
    .teksCard {
        padding: 1rem;
        
    }
    .teksCard h2{
        font-size: 2.3rem;
    }
    .rekomendasi h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 4rem;
        margin-left: 3rem;
    }
    .beritaAkhir{
        display: flex;
        width: 63rem;
        justify-content: space-between;
        margin: 6rem auto;
        overflow-x: auto;
    }
    .beritaAkhir::-webkit-scrollbar{
        width: 1rem;
    }
    .beritaAkhir::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #f5f5f500;
    }
    .beritaAkhir::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.397);
        border-radius: 20px;
        width: 1rem;
    }
    .cardBeritaAkhir{
        margin: 5rem ;
        width:23rem;
    }
    .cardBeritaAkhir img {
        border-radius: 25px 25px 0px 0px ; 
        width: 23rem;
        height: 15rem;
    }


}
@media only screen and (max-width: 1400px){
    .container {
        padding: 1rem;
    }
    .navbar-berita {
        width:70rem ;
        margin: 1.5rem auto;
    }
    .navbar-berita img {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 8rem;
    }
    .search {
        width: 70rem;
        margin: auto;
    }
    input[type=text] {
        width: 70rem;
        padding: 1.9rem 2rem;
        background-image: url(/Image/search-icon-png-9972.png);
        background-size:9rem;
        font-size: 3rem;
    }
    .judul h1{
        font-size: 5rem;
    }
    .berita-1{
        width: 70rem;
        margin : auto;
    }
    .berita-1 img{
        margin-bottom: -25rem;
        width: 70rem;
    }
    .berita-1 h1{
        margin-left: 2rem;
        width: 60%;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 3rem;
        color: white;
    }
    .berita-1 p {
        margin-left: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .card-Berita {
        margin-top:15rem ;
    }
    .card{
        display: flex;
        justify-content: space-between;
        padding: 2rem; 
        border-radius: 25px;
        width: 64rem;
        margin:2rem auto;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DBDBDB 100%);
    }
    .card h2{
        font-family: 'Red Hat Display', sans-serif;
        font-size: 2rem;
        cursor: pointer;
    }
    .card p{
        font-family: PT Serif;
        font-size: 1.5rem;
        float: right;
        margin-top: 5rem;
        margin-right: 3rem;
        color: rgba(0, 0, 0, 0.42);
    }
    .card:nth-child(2) p {
        margin-top: 8rem;
    }
    .card:nth-child(3) p {
        margin-top: 7rem;
    }
    .card img{
        width: 20rem;
        border-radius: 10px;
    }
    .teksCard {
        padding: 1rem;
        
    }
    .teksCard h2{
        font-size: 2.3rem;
    }
    .rekomendasi h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 4rem;
        margin-left: 3rem;
    }
    .beritaAkhir{
        display: flex;
        width: 60rem;
        justify-content: space-between;
        margin: 6rem auto;
        overflow-x: auto;
    }
    .beritaAkhir::-webkit-scrollbar{
        width: 1rem;
    }
    .beritaAkhir::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #f5f5f500;
    }
    .beritaAkhir::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.397);
        border-radius: 20px;
        width: 1rem;
    }
    .cardBeritaAkhir{
        margin: 5rem ;
        width:23rem;
    }
    .cardBeritaAkhir img {
        border-radius: 25px 25px 0px 0px ; 
        width: 23rem;
        height: 15rem;
    }

}
@media only screen and (max-width: 1290px){
    .container {
        padding: 1rem;
    }
    .navbar-berita {
        width:50rem ;
        margin: 1.5rem auto;
    }
    .navbar-berita img {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 7rem;
    }
    .search {
        width: 50rem;
        margin: auto;
    }
    input[type=text] {
        width: 50rem;
        padding: 1.9rem 2rem;
        background-image: url(/Image/search-icon-png-9972.png);
        background-size:8rem;
        font-size: 2rem;
    }
    .judul h1{
        font-size: 4rem;
    }
    .berita-1{
        width: 50rem;
        margin : auto;
    }
    .berita-1 img{
        margin-bottom: -20rem;
        width: 50rem;
    }
    .berita-1 h1{
        margin-left: 2rem;
        width: 60%;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 2rem;
        color: white;
    }
    .berita-1 p {
        margin-left: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }
    .card-Berita {
        margin-top:13rem ;
    }
    .card{
        display: flex;
        justify-content: space-between;
        padding: 2rem; 
        border-radius: 25px;
        width: 46rem;
        margin:2rem auto;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DBDBDB 100%);
    }
    .card h2{
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .card p{
        font-family: PT Serif;
        font-size: 1rem;
        float: right;
        margin-top: 5rem;
        margin-right: 3rem;
        color: rgba(0, 0, 0, 0.42);
    }
    .card:nth-child(2) p {
        margin-top: 8rem;
    }
    .card:nth-child(3) p {
        margin-top: 7rem;
    }
    .card img{
        width: 15rem;
        border-radius: 10px;
    }
    .card:nth-child(2) img {
        height: 15rem;
    }
    .rekomendasi {
        width: 50rem;
        margin: auto;
    }
    .rekomendasi img {
        margin-bottom: -25rem;
        width: 50rem;
    }
    .captionRekomendasi{
        width: 70%;
    }
    .captionRekomendasi h1 {
        font-size: 3.4rem;
    }
    .rekomendasi h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 3rem;
        margin-left: 3rem;
    }
    .beritaAkhir{
        display: flex;
        width: 53rem;
        justify-content: space-between;
        margin-top: 11rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
    }
    .beritaAkhir::-webkit-scrollbar{
        width: 1rem;
    }
    .beritaAkhir::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #f5f5f500;
    }
    .beritaAkhir::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.397);
        border-radius: 20px;
        width: 1rem;
    }
    .cardBeritaAkhir{
        margin: 5rem ;
        width:23rem;
    }
    .cardBeritaAkhir img {
        border-radius: 25px 25px 0px 0px ; 
        width: 23rem;
        height: 15rem;
    }

    
}
@media only screen and (max-width: 960px){
    .container {
        padding: 1rem;
    }
    .navbar-berita {
        width:40rem ;
        margin: 1.5rem auto;
    }
    .navbar-berita img {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 6rem;
    }
    .search {
        width: 40rem;
        margin: auto;
    }
    input[type=text] {
        width: 40rem;
        padding: 1.9rem 2rem;
        background-image: url(/Image/search-icon-png-9972.png);
        background-size:7rem;
        font-size: 1.5rem;
    }
    .judul h1{
        font-size: 4rem;
    }
    .berita-1{
        width: 40rem;
        margin : auto;
    }
    .berita-1 img{
        margin-bottom: -15rem;
        width: 40rem;
    }
    .berita-1 h1{
        margin-left: 2rem;
        width: 60%;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.7rem;
        color: white;
    }
    .berita-1 p {
        margin-left: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .card-Berita {
        margin-top:10rem ;
    }
    .card{
        display: flex;
        justify-content: space-between;
        padding: 1.4rem; 
        border-radius: 25px;
        width: 34rem;
        margin:2rem auto;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DBDBDB 100%);
    }
    .card h2{
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }
    .card p{
        font-family: PT Serif;
        font-size: 0.8rem;
        float: right;
        margin-top: 5rem;
        margin-right: 3rem;
        color: rgba(0, 0, 0, 0.42);
    }
    .card:nth-child(2) p {
        margin-top: 8rem;
    }
    .card:nth-child(3) p {
        margin-top: 7rem;
    }
    .card img{
        width: 12rem;
        border-radius: 10px;
    }
    .card:nth-child(2) img {
        height: 12rem;
    }
    
    .rekomendasi h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 2.5rem;
        margin-left: 2rem;
    }
    .rekomendasi {
        width: 40rem;
        margin: auto;
    }
    .rekomendasi img {
        margin-bottom: -25rem;
        width: 40rem;
    }
    .captionRekomendasi{
        width: 80%;
        margin-top: 5rem;
    }
    .captionRekomendasi h1 {
        font-size: 3rem;
    }
    .beritaAkhir{
        display: flex;
        width: 43rem;
        justify-content: space-between;
        margin-top: 8rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
    }
    .beritaAkhir::-webkit-scrollbar{
        width: 1rem;
    }
    .beritaAkhir::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #f5f5f500;
    }
    .beritaAkhir::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.397);
        border-radius: 20px;
        width: 1rem;
    }
    .cardBeritaAkhir{
        margin: 3rem ;
        width:23rem;
    }
    .cardBeritaAkhir img {
        border-radius: 25px 25px 0px 0px ; 
        width: 23rem;
        height: 15rem;
    }

    
}
@media only screen and (max-width: 800px){
    .container {
        padding: 1rem;
    }
    .navbar-berita {
        width:35rem ;
        margin: 1.5rem auto;
    }
    .navbar-berita img {
        margin: 0;
        width: 5rem;
    }
    .search {
        width: 35rem;
        margin: auto;
    }
    input[type=text] {
        width: 35rem;
        padding: 1.9rem 2rem;
        background-image: url(/Image/search-icon-png-9972.png);
        background-size:6rem;
        font-size: 1.3rem;
    }
    .judul h1{
        font-size: 3rem;
    }
    .berita-1{
        width: 35rem;
        margin : auto;
    }
    .berita-1 img{
        margin-bottom: -12rem;
        width: 35rem;
    }
    .berita-1 h1{
        margin-left: 2rem;
        width: 60%;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.6rem;
        color: white;
    }
    .berita-1 p {
        margin-left: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 0.6rem;
        font-weight: bold;
    }
    .card-Berita {
        margin-top:10rem ;
    }
    .card{
        display: flex;
        justify-content: space-between;
        padding: 1.4rem; 
        border-radius: 25px;
        width: 31rem;
        margin:2rem auto;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DBDBDB 100%);
    }
    .card h2{
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }
    .card p{
        font-family: PT Serif;
        font-size: 0.8rem;
        float: right;
        margin-top: 5rem;
        margin-right: 3rem;
        color: rgba(0, 0, 0, 0.42);
    }
    .card:nth-child(2) {
        height: 10rem;
    }
    .card:nth-child(3) {
        height: 10rem;
    }
    .card:nth-child(2) p {
        margin-top: 4rem;
    }
    .card:nth-child(3) p {
        margin-top: 4.3rem;
    }
    .card img{
        width: 10rem;
        border-radius: 10px;
    }
    
    .card:nth-child(2) img {
        height: 10rem;
    }
    .card:nth-child(3) img {
        height: 10rem;
    }
    .rekomendasi h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 2.5rem;
        margin-left: 2rem;
    }
    .rekomendasi {
        width: 35rem;
        margin: auto;
    }
    .rekomendasi img {
        margin-bottom: -25rem;
        width: 35rem;
    }
    .captionRekomendasi{
        width: 80%;
        margin-top: 7rem;
    }
    .captionRekomendasi h1 {
        font-size: 2.5rem;
    }
    .beritaAkhir{
        display: flex;
        width: 30rem;
        justify-content: space-between;
        margin-top: 8rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
    }
    .beritaAkhir::-webkit-scrollbar{
        width: 1rem;
    }
    .beritaAkhir::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #f5f5f500;
    }
    .beritaAkhir::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.397);
        border-radius: 20px;
        width: 1rem;
    }
    .cardBeritaAkhir{
        margin: 3rem ;
        width:16rem;
    }
    .cardBeritaAkhir img {
        border-radius: 25px 25px 0px 0px ; 
        width: 16rem;
        height: 11rem;
    }
    .cardBeritaAkhir p {
        padding: 1rem;
        margin-bottom: 1rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }
    .buttonBeritaAkhir {
        width: 10rem;
        margin: auto;
    }
    .cardBeritaAkhir button {
        width: 10rem;
        height: 2.5rem;
        padding: 0.5rem 2rem;
        border-radius: 0.8rem;
        background-color: #FFA400;
        border: none;
    }
    .cardBeritaAkhir:nth-child(2) button {
        margin-top: 1.4rem;
    }
}
@media only screen and (max-width: 650px){
    .container {
        padding: 1rem;
        overflow-x: hidden;
    }
    .navbar-berita {
        width:30rem ;
        margin: 1.5rem auto;
    }
    .navbar-berita img {
        margin: 0;
        width: 5rem;
    }
    .search {
        width: 30rem;
        margin: auto;
    }
    input[type=text] {
        width: 30rem;
        padding: 1.4rem 2rem;
        background-image: url(/Image/search-icon-png-9972.png);
        background-size:5rem;
        font-size: 1.3rem;
    }
    .judul h1{
        font-size: 3rem;
    }
    .berita-1{
        width: 30rem;
        margin : auto;
    }
    .berita-1 img{
        margin-bottom: -12rem;
        width: 30rem;
    }
    .berita-1 h1{
        margin-left: 2rem;
        width: 60%;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1.6rem;
        color: white;
    }
    .berita-1 p {
        margin-left: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 0.6rem;
        font-weight: bold;
    }
    .card-Berita {
        margin-top:5rem ;
    }
    .card{
        display: flex;
        justify-content: space-between;
        padding: 1.4rem; 
        border-radius: 25px;
        width: 26rem;
        margin:2rem auto;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DBDBDB 100%);
    }
    .card h2{
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1rem;
        cursor: pointer;
    }
    .card p{
        font-family: PT Serif;
        font-size: 0.8rem;
        float: right;
        margin-top: 3rem;
        margin-right: 1rem;
        color: rgba(0, 0, 0, 0.42);
    }
    .card:nth-child(1) {
        height: 9rem;
    }
    .card:nth-child(2) {
        height: 9rem;
    }
    .card:nth-child(3) {
        height: 9rem;
    }
    .card:nth-child(2) p {
        margin-top: 3rem;
    }
    .card:nth-child(3) p {
        margin-top: 3.3rem;
    }
    .card img{
        width: 9rem;
        border-radius: 10px;
    }
    .card:nth-child(1) img {
        height: 9rem;
    }
    .card:nth-child(2) img {
        height: 9rem;
    }
    .card:nth-child(3) img {
        height: 9rem;
    }
    .rekomendasi h1 {
        margin-top: 1rem;
        margin-bottom: 0;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 2.5rem;
        margin-left: 2rem;
    }
    .rekomendasi {
        width: 30rem;
        margin: auto;
    }
    .rekomendasi img {
        margin-bottom: -25rem;
        width: 30rem;
    }
    .captionRekomendasi{
        width: 80%;
        margin-top: 9rem;
    }
    .captionRekomendasi h1 {
        font-size: 2.3rem;
    }
    .beritaAkhir{
        display: flex;
        width: 25rem;
        justify-content: space-between;
        margin-top: 8rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
    }
    .beritaAkhir::-webkit-scrollbar{
        width: 1rem;
    }
    .beritaAkhir::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #f5f5f500;
    }
    .beritaAkhir::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.397);
        border-radius: 20px;
        width: 1rem;
    }
    .cardBeritaAkhir{
        margin: 3rem ;
        width:16rem;
    }
    .cardBeritaAkhir img {
        border-radius: 25px 25px 0px 0px ; 
        width: 16rem;
        height: 11rem;
    }
    .cardBeritaAkhir p {
        padding: 1rem;
        margin-bottom: 1rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }
    .buttonBeritaAkhir {
        width: 10rem;
        margin: auto;
    }
    .cardBeritaAkhir button {
        width: 10rem;
        height: 2.5rem;
        padding: 0.5rem 2rem;
        border-radius: 0.8rem;
        background-color: #FFA400;
        border: none;
    }
    .cardBeritaAkhir:nth-child(2) button {
        margin-top: 1.4rem;
    }
}
@media only screen and (max-width: 530px){
    .container {
        padding: 1rem;
        overflow-x: hidden;
    }
    .navbar-berita {
        width:22rem ;
        margin: 1.5rem auto;
    }
    .navbar-berita img {
        margin: 0;
        width: 4rem;
    }
    .search {
        width: 22rem;
        margin: auto;
    }
    input[type=text] {
        width: 22rem;
        padding: 1rem 2rem;
        background-image: url(/Image/search-icon-png-9972.png);
        background-size:4rem;
        font-size: 1rem;
    }
    .judul{
        margin: 1rem 0;
    }
    .judul h1{
        font-size: 2rem;
        margin-top: 1rem;
    }
    .berita-1{
        width: 22rem;
        margin : auto;
    }
    .berita-1 img{
        margin-bottom: -8rem;
        width: 22rem;
    }
    .berita-1 h1{
        margin-left: 2rem;
        width: 60%;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 1rem;
        color: white;
    }
    .berita-1 p {
        margin-left: 2rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 0.5rem;
        font-weight: bold;
    }
    .card-Berita {
        margin-top:5rem ;
    }
    .card{
        display: flex;
        justify-content: space-between;
        padding: 1rem; 
        border-radius: 25px;
        width: 17rem;
        margin:2rem auto;
        cursor: pointer;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DBDBDB 100%);
    }
    .card h2{
        font-family: 'Red Hat Display', sans-serif;
        font-size:0.7rem;
        cursor: pointer;
    }
    .card p{
        font-family: PT Serif;
        font-size: 0.5rem;
        float: right;
        margin-top: 1rem;
        margin-right: 1rem;
        color: rgba(0, 0, 0, 0.42);
    }
    .card:nth-child(1) {
        height: 5rem;
    }
    .card:nth-child(2) {
        height: 5rem;
    }
    .card:nth-child(3) {
        height: 5rem;
    }
    .card:nth-child(2) p {
        margin-top: 1rem;
    }
    .card:nth-child(3) p {
        margin-top: 1.3rem;
    }
    .card img{
        width: 6rem;
        border-radius: 10px;
    }
    .card:nth-child(1) img {
        height: 5rem;
    }
    .card:nth-child(2) img {
        height: 5rem;
    }
    .card:nth-child(3) img {
        height: 5rem;
    }
    .rekomendasi h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 2rem;
        margin-left: 1rem;
    }
    .rekomendasi {
        width: 22rem;
        margin: auto;
    }
    
    .rekomendasi img {
        margin-bottom: -17rem;
        width: 22rem;
    }
    .captionRekomendasi{
        width: 80%;
        margin-top: 9rem;
    }
    .captionRekomendasi h1 {
        font-size: 1.3rem;
    }
    .beritaAkhir{
        display: flex;
        width: 20rem;
        justify-content: space-between;
        margin-top: 8rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
    }
    .beritaAkhir::-webkit-scrollbar{
        width: 1rem;
    }
    .beritaAkhir::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: #f5f5f500;
    }
    .beritaAkhir::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.397);
        border-radius: 20px;
        width: 1rem;
    }
    .cardBeritaAkhir{
        margin: 2rem ;
        width:13rem;
    }
    .cardBeritaAkhir img {
        border-radius: 25px 25px 0px 0px ; 
        width: 13rem;
        height: 9rem;
    }
    .cardBeritaAkhir p {
        padding: 1rem;
        margin-bottom: 0;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
    }
    .buttonBeritaAkhir {
        width: 8rem;
        margin: auto;
    }
    .cardBeritaAkhir button {
        width: 8rem;
        height: 2.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.8rem;
        background-color: #FFA400;
        border: none;
    }
    .cardBeritaAkhir:nth-child(1) button {
        margin-top: 1.4rem;
    }
    .cardBeritaAkhir:nth-child(2) button {
        margin-top: 1.4rem;
    }
    .cardBeritaAkhir:nth-child(3) button {
        margin-top :0.2rem;;
    }
}