@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #F6F5F5;
}
.container {
    padding: 2rem;
}
.navbar-berita {
    width:55% ;
    margin: auto;
}
.navbar-berita img {
    width: 8rem;
}
.search {
    width: 50rem;
    margin: auto;
}
input[type=text] {
    width: 50rem;
    padding: 1.5rem 2rem;
    background-image: url(/Image/search-icon-png-9972.png);
    background-size:6rem;
    background-color: #DDDDDD;
    background-position-x: right;  
    background-position-y: center;
    background-repeat: no-repeat;
    margin: 1rem 0;
    border: 1px solid #DDDDDD;
    border-radius: 1rem;
    box-sizing: border-box;
    font-size: 2rem;
    font-family: Red Hat Display;
}
input[type=text]:focus, select {
    outline: none
}
::placeholder { 
    font-weight: bold;
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    
}
.judul h1{
    margin-top: 2rem;
    font-size: 5rem;
    font-family: 'Red Hat Display', sans-serif;
}
.berita-1{
    width: 90rem;
    margin: 2rem auto;
}
.berita-1 img{
    width: 90rem;
    height:auto ;
}

.caption {
    position: absolute;
    bottom: -25rem;
    width: 45%;
    margin: 2rem 5rem;
}
.caption h1{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 4rem;
    color: white;
}
.caption p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.card{
    display: flex;
    justify-content: space-between;
    padding: 2rem; 
    border-radius: 25px;
    width: 70rem;
    margin:2rem auto;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #DBDBDB 100%);
}
.card h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2rem;
    cursor: pointer;
}
.card p{
    font-family: PT Serif;
    font-size: 1rem;
    float: right;
    margin-top: 5rem;
    margin-right: 3rem;
    color: rgba(0, 0, 0, 0.42);
}
.card img{
    width: 15rem;
    border-radius: 10px;
}
.teksCard {
    padding: 1rem;
}
.rekomendasi {
    width: 90rem;
    margin: auto;
    position: relative;
}
.rekomendasi h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 4rem;
    margin: 2rem 0;
}
.rekomendasi img {
    width: 90rem;
}
.captionRekomendasi {
    width: 60%;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.captionRekomendasi h1{
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}
.beritaAkhir{
    display: flex;
    justify-content: space-around;
}
.cardBeritaAkhir{
    margin: 5rem auto;
    width: 25rem;
    background-color:#F6F5F5;
    border-radius: 25px; 
    padding-bottom: 2rem;
    box-shadow: 0px 5px 60px rgba(0, 0, 0, 0.3);
    animation: 3s pindah infinite;
}
.cardBeritaAkhir img {
    border-radius: 25px 25px 0px 0px ; 
    width: 25rem;
    height: 15rem;
}
.cardBeritaAkhir p {
    padding: 1rem;
    margin-bottom: 4rem ;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.buttonBeritaAkhir {
    width: 12rem;
    margin: auto;
}
.cardBeritaAkhir button {
    width: 12rem;
    height: 3rem;
    padding: 0.8rem 2rem;
    border-radius: 0.8rem;
    background-color: #FFA400;
    border: none;
}
.cardBeritaAkhir button a {
    text-decoration: none;
    color: white;
    
}
.cardBeritaAkhir:nth-child(1){
    transform: translateY(8rem);
    
}
.dua{
    animation: 3s pindah1 infinite;
}
.cardBeritaAkhir:nth-child(3){
    transform: translateY(8rem);
}
.tiga{
    animation: 3s pindah infinite;
}

@keyframes pindah1 {
    50% {
        transform: translateY(8rem);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes pindah {
    50%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(8rem);
        
    }
}