@import url('https://fonts.googleapis.com/css2');

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    
}
body {
    background-color: #F6F5F5;
}

.container{
    padding-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}
/* Navbar Style*/
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-logo img {
    width: 10rem;
    margin-left: 3rem;
}
.navbar-item{
   
    margin-top: 2rem;
    
}
.list {
    display: flex;
}
.list li {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    
}
.list li a {
    display: block;
    margin:10px;
    padding: 10px 20px;
    text-decoration: none;
    
}

.color{
    color: black;
}
.color2{
    color: white;
}
.active {
    width: auto;
    background-color: #193498;
    border-radius: 25px;
}
.list li a:hover{
    width: auto;
    background-color: #193498;
    border-radius: 25px;
    color: white;
}
/* Akhir Navbar Style */
/* Content Pertama Style */
.content {
    width: auto;
    height: 26rem;
    background-image: linear-gradient(to bottom right, #193498, #1597E5);
    margin: 2rem 1.5rem;
    border-radius: 2rem;
}

.isi{
    padding:3rem ;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.judulContent {
    color: white;
    font-size: 3rem;
}
.button {
    width: auto;
    padding: 0.8rem 2rem;
    border-radius: 0.8rem;
    background-color: #FFA400;
    border: none;
    margin-top: 2rem;
    margin-bottom: 7rem;
}
.button a{
    color: white;
    text-decoration: none;
}
.teksk{
    color: white;
    font-size: 15px;
}
.gambar img {
    width: 31rem;
}
/* Akhir Content Pertama Style */
/* Progres-Bar Style */
.progress-bar{
    display: flex;
    justify-content: space-around;
    margin: 6rem 0;
}
.persen{
    position: relative;
    width: 165px;
    height: 165px;
}
.persen svg{
    position: relative;
    width: 170px;
    height: 170px;
}
.persen svg circle{
    width:150px;
    height:150px;
    fill: none;
    stroke-width: 20;
    stroke:red;
    transform: translate(10px,10px);
    stroke-dasharray: 440;
    stroke-dashoffset:440;
}
.persen svg circle:nth-child(1){
    stroke-dashoffset:0;
    stroke: #a30000;
}
.persen svg circle:nth-child(2){
    stroke-dashoffset:calc(440 - (440 * 17 / 100));
    stroke: #C4C4C4;
}
.persen .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    color: #000000;
}
.persen .number h2{
    font: size 48px;
    color: #000000;
}
.persen .number span{
    font: size 24px;
}
.persen2{
    position: relative;
    width: 165px;
    height: 165px;
}
.persen2 svg{
    position: relative;
    width: 170px;
    height: 170px;
}
.persen2 svg circle{
    width:150px;
    height:150px;
    fill: none;
    stroke-width: 20;
    stroke:rgb(29, 18, 175);
    transform: translate(10px,10px);
    stroke-dasharray: 440;
    stroke-dashoffset:440;
}
.persen2 svg circle:nth-child(1){
    stroke-dashoffset:0;
    stroke: #15218b;
}
.persen2 svg circle:nth-child(2){
    stroke-dashoffset:calc(440 - (440 * 96 / 100));
    stroke: #C4C4C4;
}
.persen2 .number2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    color: #000000;
}
.persen2 .number2 h2{
    font: size 48px;
    color: #000000;
}
.persen2 .number2 span{
    font: size 24px;
    color:#000000
}
.text2{
    padding: 10px 0 0;
    color: #000000;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
.persen3{
    position: relative;
    width: 165px;
    height: 165px;
}
.persen3 svg{
    position: relative;
    width: 170px;
    height: 170px;
}
.persen3 svg circle{
    width:150px;
    height:150px;
    fill: none;
    stroke-width: 20;
    stroke:rgb(29, 18, 175);
    transform: translate(10px,10px);
    stroke-dasharray: 440;
    stroke-dashoffset:440;
}
.persen3 svg circle:nth-child(1){
    stroke-dashoffset:0;
    stroke: #d1e42b;
}
.persen3 svg circle:nth-child(2){
    stroke-dashoffset:calc(440 - (440 * 96 / 100));
    stroke: #C4C4C4;
}
.persen3 .number3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    color: #000000;
}
.persen3 .number3 h2{
    font: size 48px;
    color:#000000
}
.persen3 .number3 span{
    font: size 24px;
}
.text3{
    padding: 10px 0 0;
    color: #000000;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}
/* Akhir Progress-Bar Style */
/* Info Vaksin Style */
.info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}
.infoTitle{
    display: flex;
}

.img{
    border-radius: 25%;
    padding: 0.5rem;
    background-color: #FFA400;
}
.img img {
    width: 4rem;
    height: 4rem;
}
.sinovac {
    width: 19rem;
    height: 15rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 25px;
}
.sinovac h1 {
    color: #0F044C;
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.sinovac p {
    color: #0F044C;
    margin: 1rem;
    font-size: 13px;
}
.moderna {
    width: 19rem;
    height: 15rem;
    background-color: #0F044C;
    padding: 2rem;
    border-radius: 25px;
    color: white;
}
.moderna h1 {
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.moderna p {
    
    margin: 1rem;
    font-size: 11px;
}
.img1{
    border-radius: 25%;
    padding: 0.5rem;
    background-color: #ffffff;
}
.img1 img {
    width: 4rem;
    height: 4rem;
}
.astrazeneca {
    width: 19rem;
    height: 15rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 25px;
}
.astrazeneca h1 {
    color: #0F044C;
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.astrazeneca p {
    color: #0F044C;
    margin: 1rem;
    font-size: 12px;
}
/* Akhir Info Vaksin Style */
#berita{
    width: auto;
    height: auto;
    background-image: linear-gradient(to bottom right, #000000, #193498);
    border-radius: 25px;
    padding: 2rem;
    margin: 4rem 0;
}
.beritaa{
    display: flex;
    margin: 2rem 0;
}
.beritaa img {
    width: 30rem;
}
.teksBerita{
    color: white;
    margin-left: 2rem;
}
.isibe{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}
.teksBerita p {
    margin: 1rem 0;
}
.buttonBerita {
    width: 15%;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    background-color: #FFA400;
    border: none;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 7rem;
    margin: auto;
}
.buttonBerita a{
    color: white;
    text-decoration: none;
}
/* Akhir Berita Style */
.tutorialImg {
    width: 70rem;
    margin:auto ;
}
.gambarOrang {
    width: 70rem;
}
.teksTutorial {
    text-align: center;
    margin: 2rem 0;
}
.teksTutorial h1 {
    margin: 1rem 0;
}
.teksTutorial ul {
    font-style: italic;
    font-family: Poppins;
    font-size: 1.3rem;
}
.teksTutorial li {
    list-style-position: inside;
    margin: 1rem 0;
}
footer {
    width: auto;
    /* height: 20rem; */
    background-image: linear-gradient(to bottom right, #000000, #193498);
    padding: 1.5rem;
}
.isiFooter{
    display: flex;
    justify-content: space-between;
}
.gambarFooter img{
    width: 40rem;
}

.contentFooter {
    margin-top: 3rem;
}
.contentFooter h1:nth-child(1){
    color: white;
    text-align: right;
}
.contentFooter h1:nth-child(3){
    color: white;
    text-align: right;
    
}
.contentFooter img {
    float: right;
    padding-right:10px;
    width: 10rem;
    margin-top: 5rem ;
}
.info a{
    text-decoration: none;
}

@media only screen and (max-width:1200px){
    .isi{
        padding:3rem ;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .judulContent {
        color: white;
        font-size: 3rem;
    }
    .button {
        width: auto;
        padding: 0.8rem 2rem;
        border-radius: 0.8rem;
        background-color: #FFA400;
        border: none;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    .button a{
        color: white;
        text-decoration: none;
    }
    .teksk{
        color: white;
        font-size: 15px;
    }
    .gambar img {
        width: 31rem;
    }   
.img{
    border-radius: 25%;
    padding: 0.5rem;
    background-color: #FFA400;
}
.img img {
    width: 3rem;
    height: 3rem;
}
.sinovac {
    width: 15rem;
    height: 12rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 25px;
}
.sinovac h1 {
    color: #0F044C;
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.sinovac p {
    color: #0F044C;
    margin: 1rem;
    font-size: 10px;
}
.moderna {
    width: 15rem;
    height: 12rem;
    background-color: #0F044C;
    padding: 2rem;
    border-radius: 25px;
    color: white;
}
.moderna h1 {
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.moderna p { 
    margin: 1rem;
    font-size: 8px;
}
.img1{
    border-radius: 25%;
    padding: 0.5rem;
    background-color: #ffffff;
}
.img1 img {
    width: 3rem;
    height: 3rem;
}
.astrazeneca {
    width: 15rem;
    height: 12rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 25px;
}
.astrazeneca h1 {
    color: #0F044C;
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.astrazeneca p {
    color: #0F044C;
    margin: 1rem;
    font-size: 10px;
}
.tutorialImg {
    width: 60rem;
    margin:auto ;
}
.gambarOrang {
    width: 70rem;
}
.teksTutorial {
    text-align: center;
    margin: 2rem 0;
}
.teksTutorial h1 {
    margin: 1rem 0;
}
.teksTutorial ul {
    font-style: italic;
    font-family: Poppins;
    font-size: 1.3rem;
}
.teksTutorial li {
    list-style-position: inside;
    margin: 1rem 0;
}

}

@media only screen and (max-width: 1100px){
    .isi{
        padding:3rem ;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .judulContent {
        color: white;
        font-size: 2rem;
    }
    .button {
        width: auto;
        padding: 0.8rem 2rem;
        border-radius: 0.8rem;
        background-color: #FFA400;
        border: none;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    .button a{
        color: white;
        text-decoration: none;
    }
    .teksk{
        color: white;
        font-size: 15px;
    }
    .gambar img {
        width: 25rem;
    }
    .tutorialImg {
        width: 47rem;
        margin:auto ;
    }
    .gambarOrang {
        width: 47rem;
    }
    .teksTutorial {
        text-align: center;
        margin: 2rem 0;
    }
    .teksTutorial h1 {
        margin: 1rem 0;
    }
    .teksTutorial ul {
        font-style: italic;
        font-family: Poppins;
        font-size: 1rem;
    }
    .teksTutorial li {
        list-style-position: inside;
        margin: 0.4rem 0;
    }
    #berita{
        width: auto;
        height: auto;
        background-image: linear-gradient(to bottom right, #000000, #193498);
        border-radius: 25px;
        padding: 2rem;
        margin: 4rem 0;
    }
    .beritaa{
        display: flex;
        margin: 2rem 0;
    }
    .beritaa img {
        width: 20rem;
    }
    .teksBerita{
        color: white;
        margin-left: 2rem;
    }
    .teksBerita h1{
        font-size:20px;
    }
    .isibe{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
    }
    .teksBerita p {
        margin: 0.3rem 0;
    }
    .sinovac {
        width: 15rem;
        height: 12rem;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        border-radius: 25px;
    }
    .sinovac h1 {
        font-size:30px;
        color: #0F044C;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .sinovac p {
        color: #0F044C;
        margin: 1rem;
        font-size: 10px;
    }
    .moderna {
        width: 15rem;
        height: 12rem;
        background-color: #0F044C;
        padding: 2rem;
        border-radius: 25px;
        color: white;
    }
    .moderna h1 {
        font-size:30px;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .moderna p { 
        margin: 1rem;
        font-size: 8px;
    }
    .img1{
        border-radius: 25%;
        padding: 0.5rem;
        background-color: #ffffff;
    }
    .img1 img {
        width: 3rem;
        height: 3rem;
    }
    .astrazeneca {
        width: 15rem;
        height: 12rem;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        border-radius: 25px;
    }
    .astrazeneca h1 {
        font-size:25px;
        color: #0F044C;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .astrazeneca p {
        color: #0F044C;
        margin: 1rem;
        font-size: 10px;
    }
    
    footer {
        width: auto;
        /* height: 20rem; */
        background-image: linear-gradient(to bottom right, #000000, #193498);
        padding: 1.5rem;
    }
    .isiFooter{
        display: flex;
        justify-content: space-between;
    }
    .gambarFooter img{
        width: 20rem;
    }
    
    .contentFooter {
        margin-top: 3rem;
    }
    .contentFooter h1:nth-child(1){
        color: white;
        text-align: right;
    }
    .contentFooter h1:nth-child(3){
        color: white;
        text-align: right;
        
    }
    .contentFooter img {
        float: right;
        padding-right:10px;
        width: 5rem;
        margin-top: 5rem ;
    }
    .info a{
        text-decoration: none;
    }
}

@media only screen and (max-width:1050px){
    .isi{
        padding:3rem ;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .judulContent {
        color: white;
        font-size: 2rem;
    }
    .button {
        width: auto;
        padding: 0.8rem 2rem;
        border-radius: 0.8rem;
        background-color: #FFA400;
        border: none;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    .button a{
        color: white;
        text-decoration: none;
    }
    .teksk{
        color: white;
        font-size: 15px;
    }
    .gambar img {
        width: 20rem;
    }
    .tutorialImg {
        width: 45rem;
        margin:auto ;
    }
    .gambarOrang {
        width: 43rem;
    }
    .teksTutorial {
        text-align: center;
        margin: 2rem 0;
    }
    .teksTutorial h1 {
        margin: 1rem 0;
    }
    .teksTutorial ul {
        font-style: italic;
        font-family: Poppins;
        font-size: 1rem;
    }
    .teksTutorial li {
        list-style-position: inside;
        margin: 0.4rem 0;
    }
    #berita{
        width: auto;
        height: auto;
        background-image: linear-gradient(to bottom right, #000000, #193498);
        border-radius: 25px;
        padding: 2rem;
        margin: 4rem 0;
    }
    .beritaa{
        display: flex;
        margin: 2rem 0;
    }
    .beritaa img {
        width: 20rem;
    }
    .teksBerita{
        color: white;
        margin-left: 2rem;
    }
    .teksBerita h1{
        font-size:20px;
    }
    .isibe{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
    }
    .teksBerita p {
        margin: 0.3rem 0;
    }
    .sinovac {
        width: 15rem;
        height: 12rem;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        border-radius: 25px;
    }
    .sinovac h1 {
        font-size:30px;
        color: #0F044C;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .sinovac p {
        color: #0F044C;
        margin: 1rem;
        font-size: 10px;
    }
    .moderna {
        width: 15rem;
        height: 12rem;
        background-color: #0F044C;
        padding: 2rem;
        border-radius: 25px;
        color: white;
    }
    .moderna h1 {
        font-size:30px;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .moderna p { 
        margin: 1rem;
        font-size: 8px;
    }
    .img1{
        border-radius: 25%;
        padding: 0.5rem;
        background-color: #ffffff;
    }
    .img1 img {
        width: 3rem;
        height: 3rem;
    }
    .astrazeneca {
        width: 15rem;
        height: 12rem;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        border-radius: 25px;
    }
    .astrazeneca h1 {
        font-size:25px;
        color: #0F044C;
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
    .astrazeneca p {
        color: #0F044C;
        margin: 1rem;
        font-size: 10px;
    }
    
    footer {
        width: auto;
        /* height: 20rem; */
        background-image: linear-gradient(to bottom right, #000000, #193498);
        padding: 1.5rem;
    }
    .isiFooter{
        display: flex;
        justify-content: space-between;
    }
    .gambarFooter img{
        width: 20rem;
    }
    
    .contentFooter {
        margin-top: 3rem;
    }
    .contentFooter h1:nth-child(1){
        color: white;
        text-align: right;
    }
    .contentFooter h1:nth-child(3){
        color: white;
        text-align: right;
        
    }
    .contentFooter img {
        float: right;
        padding-right:10px;
        width: 5rem;
        margin-top: 5rem ;
    }
    .info a{
        text-decoration: none;
    }
}